<!DOCTYPE html>
<html>
<head>
<title>Simple Calculate</title>
<script src="angular.min.js"></script>
<script>
    var myAppModule = angular.module('myAppModule', []);
    myAppModule.controller('myAppController', function($scope,calculateService) {
        $scope.quantity=1;
        $scope.quantityResult = 0;
        $scope.calculateQuantity = function() {
            $scope.quantityResult = calculateService.calculate($scope.quantity, 10);
        };
    });

// Service 
    myAppModule.factory('calculateService', function(){
        return {
            calculate: function(xval,yval){
                return xval*yval;
            }
        };
    });
</script>
</head>
<body ng-app="myAppModule">
    <div ng-controller="myAppController" style="text-align:center">
        <p style="font-size:20px;">Enter Quantity:
        <input type="text" ng-model="quantity"/></p>
        <button ng-click="calculateQuantity()">Calculate</button>
        <h4>Total Cost: Rs.{{quantityResult}}</h4>
    </div>
</body>
</html>
